.card {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
}

.card h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.card img {
    height: 300px;
}

.card img:hover {
    transition: 0.3s;
    transform: scale(1.5);
}
