.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 60px;
}

.header .userInfo {
    display: flex;
    position: absolute;
    right: 7%;
    vertical-align: center;
    width: 100px;
    gap: 10px;
}
