.register-page {
    display: flex;
    justify-content: center;
}

.register-page-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 300px;
}

.register-page-content h1 {
    margin-bottom: 20px;
}

.register-page-content .input input {
    margin-bottom: 10px;
}

.register-page-content .admin {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.register-page-content .admin label {
    font-size: 13px;
}
